[Unit]
Description=Run Wi-Fi watchdog every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=15s
Persistent=true
Unit=wifi-watchdog.service

[Install]
WantedBy=timers.target
